<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewBag.Title </title>
</head>
<body>
    <header>
        <h1>sbubby</h1>
    </header>
    
    <main>
        @RenderBody()
    </main>

    <footer> &copy;@DateTime.Today.Year</footer>
</body>
</html>

