<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewBag.Title </title>
    <link rel="stylesheet" href ="~/css/site.css"/>
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">
            Home
        </a>

        <a asp-controller="Home" asp-action="About">
            about
        </a>

        <a asp-controller="Home" asp-action="Question">
            ?
        </a>
    </nav>
    <header>
        <h1>Webpage &trade;</h1>
    </header>
    
    <main>
        @RenderBody()
    </main>

    <footer> &copy;@DateTime.Today.Year</footer>
</body>
</html>

