@{ 
    ViewBag.Title = "About";
}

<p> This is the about page </p>



<!--
I'll sign, and to make up for the Programmer's insolence I'll sign again.    
So, funny story about that first one: that literally happened to me yesterday. I am currently breaking parental laws rn.
-->