
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
</body>
</html>

<!--
I'll sign, and to make up for the Programmer's insolence I'll sign again.    
So, funny story about that first one: that literally happened to me yesterday. I am currently breaking parental laws rn.
-->